.campaigns_page {
  &__inner {
    width: 100%;
    padding: 45px 15px 10px;
    max-width: 1030px;
    margin: 0 auto;
    text-align: center;
    color: var(--black-100);
    line-height: 150%;

    h1 {
      margin-bottom: 20px;
    }

  }

  &__descr {
    margin-bottom: 30px;
  }

}

@media (min-width:769px) {
  .campaigns_page {
    &__inner {
      h1 {
        font-size: 40px;
        line-height: 110%;
      }
    }

    &__descr {
      margin-bottom: 80px;
    }
  }
}