.deleting-date_page {
  &__inner {
    width: 100%;
    padding: 45px 15px 10px;
    max-width: 1030px;
    margin: 0 auto;
    text-align: center;
    color: var(--black-100);
    line-height: 150%;

    h1 {
      margin-bottom: 20px;
      margin-top: 15px;
    }

    &__disclaimer {
      margin-bottom: 14px;
    }

    .deleting-date_page__btn-show-more {
      width: 100%;
      margin-bottom: 70px;

    }
  }
}

@media (min-width:1280px) {
  .deleting-date_page {
    &__inner {
      padding: 45px 0 10px;

      &__disclaimer {
        margin-bottom: 60px;
      }
    }
  }
}